<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="../../js/article/client.js"></script>

<!-- 글쓰기뷰 이벤트 핸들링 -->
<script>

	$(document).ready(function() {
		
		$('#select_one_button').click(function() {

			var num = $('#number').val();
			alert('[알림]클라이언트의 V:뷰(selectOneView)가 클라이언트의 C:컨트롤러(requestSelectOne)를 호출함!');

			Controllers.getArticleController().requestSelectOne(num);			
			
		});
		
	});

</script>

</head>
<body>
	<div>
		<input type="text" placeholder="번호 입력" id="number">
	</div>
	<div>
		<input type="button" value="조회" id="select_one_button">
	</div>
</body>
</html>