<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Insert Article HTML Document</title>
</head>
<body>
  <div>
    <div>
      <input type="text" id="number" placeholder="글번호">
    </div>
    <div>
      <input type="text" id="title" placeholder="글제목">
    </div>
    <div>
      <input type="text" id="content" placeholder="글내용">
    </div>
    <div>
      <input type="text" id="writer" placeholder="작성자">
    </div>
    <div>
      <input type="button" id="insert_button" value="보내기">
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script>
    $(document).ready(function() {

      $("#insert_button").on("click",function(){

        // Node 서버로 보낼 데이터를 추출
        var number = $('#number').val();
        var title = $("#title").val();
        var content = $("#content").val();
        var writer = $("#writer").val();

        // 요청 정보를 설정
        var requestString = '/insert?number=' + number + '&title=' + title + '&content=' + content + '&writer=' + writer;
        var request = new XMLHttpRequest();

        // 설정 정보에 따라 서버로 요청
        request.open('GET', requestString, false);
        request.send();

        // 서버의 요청 결과를 응답하는 것을 출력
        var isSuccess = request.responseText;
        if(isSuccess){
          alert("success article insert");
        } else {
          alert("fail article insert");
        }

      });
    });
  </script>
</body>
</html>
