<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>selectAll Article HTML Document</title>
</head>
<body>

  <table border="1">
    <thead>
      <tr>
        <th>글번호</th>
        <th>제목</th>
        <th>내용</th>
        <th>작성자</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>

  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script>
    $(document).ready(function() {

      // setup request infomation
      var requestString = '/selectAll';
      var request = new XMLHttpRequest();
      request.open('GET', requestString, false);

      // 설정 정보에 따라 서버로 요청
      request.send();

      // 서버 응답 결과 저장(현재 서버에 저장관리되는 articles 배열 전체)
      var articles = request.response;

      var output = '';
      for(var i=0; i < articles.length; i++){
        output += '<tr>';
        output +=   '<td>'+articles[i].number+'</td>';
        output +=   '<td>'+articles[i].title+'</td>';
        output +=   '<td>'+articles[i].content+'</td>';
        output +=   '<td>'+articles[i].writer+'</td>';
        output += '</tr>'
      }

      $("tbody").append(output);

    });
  </script>
</body>
</html>
